name: Build FFXRT

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            qt_arch: gcc_64
          - os: windows-latest
            qt_arch: win64_msvc2019_64

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        arch: ${{ matrix.qt_arch }}
        
    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev

    - name: Setup MSVC (Windows)
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build FFXRT (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        mkdir build
        cd build
        qmake ..\FFXRT\FFXRT.pro "CONFIG+=release"
        nmake

    - name: Upload FFXRT (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: FFXRT-Windows
        path: build/release/FFXRT.exe

    - name: Build FFXRT (Linux)
      if: runner.os == 'Linux'
      run: |
        mkdir build
        cd build
        qmake ../FFXRT/FFXRT.pro "CONFIG+=release"
        make -j$(nproc)

    - name: Upload FFXRT (Linux)
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4
      with:
        name: FFXRT-Linux
        path: build/FFXRT
